// Navigation Styles here
.navbar {
    display: flex;
    justify-content: space-between;
}
    .fun-bus-logo {
        margin-right: 30%;
        margin-left: 10%;

    }
        .nav-links-container {
            display: flex;
            justify-content: space-between;
            margin: auto;
        
        }
            a {
                justify-content: space-between;
                align-items: center;
                font-size: 2rem;
            }